body{
    background-color: white;
}


.img-logo{
   height: 50px;
    width: 130px;
    margin-left: 200px;
}

.home-1{
    height: 100px;
    width: 100px;
    margin-top: 30px;
    display: flex;
}
.home-img-2{
    height: 800px;
    width: 800px;
    
}
.home-img2-heading {
    text-align: center;
}